
.score{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-evenly;
    transition: opacity 0.5s ease;
}


.p-count,
.c-count {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

.intro {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

.start,
.restart {
    padding: 1em 2em;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.round{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    transition: opacity 0.5s ease;
}

.result {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.options {
    display: flex;
    gap: 3em;
}

.scissors,
.rock,
.paper {
    padding: 1em 2em;
    cursor: pointer;
}

.reset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.winner {
    font-family: 'Roboto', sans-serif;
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}